<div class="row content">
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <h4><b class="headers">Add/Edit Location Template</b></h4>
            <br />
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="discription">Description:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="discription" value="{{locationdescription}}">
                </div>

            </div>
            <div class="col-sm-offset-10">
                <br />
                <br />
                <button type="submit" ng-click="addLocation()" class="btn btn-primary">Save</button>
                <a href="#admin_main" class="btn btn-primary active">Back</a>
            </div>
        </form>

    </div>
</div>






