
<div class="row content">
    <div class="col-sm-12">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <h4><b class="headers">School Registration</b></h4>
            <br />
            <div class="col-sm-offset-8">
                <a href="#school" class="btn btn-primary active">Back</a>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <div>
                        <label for="lockedRadio">Locked:</label>
                        <input id="lockedRadio" type="radio" name="lock" ng-model="islocked" ng-click="lockedaccount(true)" ng-value="true" />
                        <label for="unlockedRadio">Unlocked:</label>
                        <input id="unlockedRadio" type="radio" name="lock" ng-model="islocked" ng-click="lockedaccount(false)" ng-value="false" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="ceo">CEO's Full Name:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="ceo" ng-model="ceofullname">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="description">Description:</label>
                </div>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="5" ng-model="schooldescription"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="registeredname">Registered Name:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="registeredname" ng-model="registeredname">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="address">Location Address:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="address" ng-model="locationaddress">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="country">Country:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="country" ng-model="selectedlocation">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="regnumber">Reg Number:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="regnumber" ng-model="regnumber">
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="schoolemail">Contact Email(Admin):</label>
                </div>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="schoolemail" ng-model="contactemailadmin">
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="schoolteladmin">Contact Telephone(Admin):</label>
                </div>
                <div class="col-sm-5">
                    <input type="tel" class="form-control" id="schoolteladmin" ng-model="contacttelephoneadmin">
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="url">Website Url:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="url" ng-model="websiteurl">
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="myFile">Upload Logo:</label>
                </div>
                <div class="col-sm-6">
                    <input type="file" class="form-control" id="myFile" ng-model="myFile">
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="color">Brand Color:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="color" ng-model="brandcolor">
                </div>
            </div>

            <div class="col-sm-offset-8">
                <br />
                <br />
                <button type="submit" ng-click="addschoolclient()" class="btn btn-primary">Save</button>
                <a href="#school" class="btn btn-primary active">Back</a>
            </div>
        </form>
    </div>
</div>
