
<div class="row content">
    <div class="col-sm-2 sidenav">
        <div class="list-group margin-b-3">
            <div ng-repeat="model in adminmenus">
                <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <div class="form-group">
                <h4><b style="border-bottom:1px black solid">Subjects</b></h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Items</th>
                                <th>Description</th>
                                <th> </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-model="selectedsubject" ng-repeat="model in subjects| orderBy: 'description' ">
                                <td> {{$index + 1}}.</td>
                                <td>{{model.description}}</td>

                                <td>
                                    <a href="#addsubject/{{model._id}}">Edit</a>
                                </td>
                                <td>
                                    <a ng-click="setItemEditRemove(model._id)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group text-center">
                <a href="#addsubject" class="btn btn-primary active">Add Subject</a>
            </div>
        </form>

    </div>
</div>

