<div class="container-fluid">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <button ng-click="showless()" ng-show="hasless()">Show Less</button>
    </div>
    <div class="row content">
        <div class="col-xs-12 col-md-12 col-sm-12 text-left">
            <div class="home-container">
                <accordion>
                    <accordion-group ng-repeat="group in parents | orderBy: 'id'" heading="{{group.id}}" is-open="group.open">
                        <accordion-heading>
                            <label ng-click="getallcontents(group.id)">{{group.title}}</label>               
                        </accordion-heading>
                        <label ng-show="iswaiting" style="color:red;font-size:larger">Please wait.......</label>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr ng-repeat="model in children">
                                        <td> {{$index + 1}}.</td>
                                        <td>{{model.text}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12">
        <button ng-click="showmore()" ng-show="hasmore()">Show More</button>
    </div>
</div>
