
<div class="row content">

    <div class="col-sm-2 sidenav">

        <div class="list-group margin-b-3">
            <a href="#parent" class="list-group-item active">Reports</a>
            <a href="#subject" class="list-group-item">Send Email</a>
            <a href="#question" class="list-group-item">Book Appointments</a>
            <a href="#topic" class="list-group-item">Comment/Expectations</a>

        </div>
    </div>
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <label for="child">Child:</label>
                        <select class="form-control" id="child">
                            <option>Please select..</option>

                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <label for="level">Level:</label>
                        <select class="form-control" id="level">
                            <option>Please select..</option>
                            <option>O/L</option>
                            <option>A/L</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <label for="subject">Subject:</label>
                        <select class="form-control" id="subject">
                            <option>Please select..</option>

                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <label for="subject">Dates:</label>
                        <select class="form-control" id="subject">
                            <option>Please select..</option>
                            <option>Now</option>
                            <option>Current Year</option>
                            <option>Last Year</option>
                            <option>2 Years ago</option>
                            <option>3 Years ago</option>
                            <option>4 Years ago</option>
                            <option>5 Years ago</option>
                            <option>6 Years ago</option>
                            <option>Over 6 years ago</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <label for="subject">Reports:</label>
                        Current Scores out of 100%
                        Previous Score out of 1000% per date
                        Graphical analysis compare to school class group
                        Graphical analysis campare to global class group

                    </div>
                </div>
            </div>
            <div class="col-sm-offset-10">
                <br />
                <br />
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="#/" class="btn btn-primary active">Back</a>
            </div>


        </form>
    </div>
</div>
