 
    <div class="row content">

        <div class="col-sm-2 sidenav">

            <div class="list-group margin-b-3">
                <a href="#student" class="list-group-item active">Results</a>
                <a href="#studentreportanalysis" class="list-group-item">Comparative Analysis</a>
                <a href="#studentweakareas" class="list-group-item">Weak Areas</a>
                <a href="#studentrecommendation" class="list-group-item">Recommendations</a>
                <a href="#studentfeedback" class="list-group-item">Feedbacks</a>
            </div>
        </div>
        <div class="col-sm-9 text-left">
            <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
                <h4><b style="border-bottom:1px black solid">Results</b></h4>
                <div class="form-group">
                    <div class="row-fluid">
                        <div class="col-sm-8">
                            <label for="subject">Subject:</label>
                            <select class="form-control" id="subject">
                                <option>Please select..</option>

                            </select>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row-fluid">
                        <div class="col-sm-8">
                            <label for="testformat">Current Text Score:(include Date and time of the test)</label>
                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row-fluid">
                        <div class="col-sm-8">
                            <label for="level">Cumulative Scores per subject:</label>
                            <label for="from"/><input type="text" id="from" /><label for="to"/><input type="text" id="to" />
                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row-fluid">
                        <div class="col-sm-8">
                            Reports:
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-offset-10">
                    <br />
                    <br />
                     
                    <a href="#/" class="btn btn-primary active">Back</a>
                </div>


            </form>
        </div>
    </div>
 