
<div class="row content">
    <div class="col-sm-2 sidenav">
        <div class="list-group margin-b-3">
            <div class="list-group margin-b-3">
                <div ng-repeat="model in testsetupmenu">
                    <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <h4><b class="headers">ADD QUESTION</b></h4>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="level">Level:</label>
                    <select class="form-control" ng-model="selectedlevel" ng-change="processsubjecttopics()"
                            ng-options="item.description as item.description for item in teacherlevels">
                        <option value="">-- Please select student level --</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <label for="subject">Subject:</label>
                    <select class="form-control" ng-model="selectedsubject" ng-change="processsubjecttopics()"
                            ng-options="item.description as item.description for item in teachersubjects">
                        <option value="">-- Please select subject --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label style="color:red">{{message}}</label>
                </div>
            </div>
            <div ng-show="hide">
                <div class="form-group">
                    <div class="col-sm-11">
                        <div class="col-lg-6">
                            <label for="subject">Topics:</label>
                            <select class="form-control" ng-model="selectedsubjecttopic" ng-change="processsubjecttopics()"
                                    ng-options="item.description as item.description for item in teachersubjecttopics">
                                <option value="">-- Please select topic --</option>
                            </select>
                        </div>
                        <div class="col-lg-5">
                            <br />
                            <a ng-click="processshowquestion('V')">View Questions</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-11">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><label class="control-label" for="description">Enter Question:</label></td>
                                        <td><textarea class="form-control" rows="10" ng-model="questiontext"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="scale">Scale:(1 to 5)</label></td>
                                        <td><input type="text" ng-model="scale" class="form-control" /></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" for="assignmentFile">Upload Image:</label></td>
                                        <td><input type="file" file-model="questionimage" class="form-control" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" for="description">Answer:</label>
                                        </td>
                                        <td><textarea class="form-control" rows="10" ng-model="questionanswer"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-sm-offset-10">
                    <button type="submit" ng-click="saveteachersquestion()" class="btn btn-primary">Save</button>
                </div>
            </div>
            <br />
            <br />
            <div ng-hide="hide">
                <div class="form-group">
                    <div class="row-fluid">
                        <div class="table-responsive">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="col-lg-3">
                                            <label>Submitted Questions From:</label>
                                        </td>
                                        <td class="col-lg-2">
                                            <input type="date" class="form-control" name="input" ng-model="submittedquestiondatefrom"
                                                   ng-change="filterwithdate()" datepicker />
                                        </td>
                                        <td class="col-lg-2"></td>
                                        <td class="col-lg-2">
                                            <a ng-click="processshowquestion('A')">Add Question</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-11">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Description</th>
                                        <th>Scale</th>
                                        <th>Status</th>
                                        <th>DateAdded</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="recordfound"><td colspan="5"><label class="control-label"><b style="color:forestgreen">No record found!</b></label></td></tr>
                                    <tr ng-model="selectedteacherquestion" ng-repeat="model in teacherquestionsarchive| orderBy: 'description' ">
                                        <td> {{$index + 1}}.</td>
                                        <td class="col-lg-5">{{model.description}}</td>
                                        <td>{{model.scale}}</td>
                                        <td>{{model.status}}</td>
                                        <td>{{model.dateadded}}</td>
                                        <td>
                                            <a ng-click="loadteacherquestion(model.id)">view attached</a>
                                        </td>
                                        <td><a ng-click="editquestion(model.id)">Edit</a></td>
                                        <td>
                                            <a ng-click="removequestion(model.id)">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
