
<div class="row content">
    <div class="col-sm-2 col-md-2 sidenav">
        <div class="list-group margin-b-3">
            <div class="list-group margin-b-3">
                <div ng-repeat="model in studentregistrationmenu">
                    <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <h4><b class="headers">UPLOAD NEWSLETTERS</b></h4>
            <div class="form-group">
                <div class="col-md-3">
                    <label for="level">Level:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedlevel"
                            ng-options="item.description as item.description for item in teacherlevels">
                        <option value="">-- Please select student level --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label" for="lbltitle">Title:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" ng-model="newslettertitle" class="form-control" />
                </div>
            </div> 
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label" for="assignmentFile">Upload Newletter:</label>
                </div>
                <div class="col-md-6">
                    <input type="file" file-model="newsletterfile" class="form-control" />
                </div>
            </div>   
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label" for="lblmessage">Message:</label>
                </div>
                <div class="col-md-6">
                    <textarea class="form-control" rows="5" id="hints" ng-model="aboutnewsletter" required></textarea>
                </div>
            </div>         
            <div class="form-group">
                <div class="col-sm-9">
                    <label style="color:red">{{message}}</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4">
                    <input type="submit" value="Upload" ng-click="uploadnewletter()" class="btn btn-primary" />
                    <input type="submit" value="Back" class="btn btn-primary" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label" for="lblsearch">Find Newsletter(Title):</label>
                </div>
                <div class="col-md-6">
                    <input type="text" value="{{searchitem}}" class="form-control" />
                </div>
            </div>        
            <div class="form-group">
                <div class="col-sm-12 col-md-12">
                    <label class="control-label headers" for="uploadedfile">Newsletters</label>
                    <br />
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Items</th>
                                    <th>Title</th>
                                    <th>Message</th>
                                    <th>Date</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-model="selected" ng-repeat="model in newsletters">
                                    <td>{{$index + 1}}.</td>
                                    <td>{{model.title}}</td>
                                    <td>{{model.message}}</td>
                                    <td>{{model.dateadded}}</td>
                                    <td>{{model.view}} </td>
                                    <td>{{model.delete}} </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
           

        </form>
    </div>
</div>
