<script>
    $('.carousel').carousel({
        interval: 5000
    });
    $(".left").click(function () {
        $("#myCarousel").carousel("prev");
    });
    $(".right").click(function () {
        $("#myCarousel").carousel("next");
    });
</script>
<div class="col-md-12">
    <div class="col-md-8">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 400px">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="/assets/img/teacher_at_work_2.jpg" alt="Developer">
                    <div class="carousel-caption">
                        <h3>Teacher at work</h3>
                        <p style="color: red"><b>What a noble and rewarding profesional</b></p>
                    </div>
                </div>

                <div class="item">
                    <img src="/assets/img/doctor.jpg" alt="Doctor" height="400">
                    <div class="carousel-caption">
                        <h3>Doctor</h3>
                        <p style="color: red"><b>Doctor at work saving lives.</b></p>
                    </div>
                </div>

                <div class="item">
                    <img src="/assets/img/doctor_consulting.jpg" alt="Doctor" height="400">
                    <div class="carousel-caption">
                        <h3>Doctor</h3>
                        <p style="color: red"><b>Being a doctor isn't wonderful.</b></p>
                    </div>
                </div>

                <div class="item">
                    <img src="/assets/img/civil_engineer.jpg" alt="Architecture" height="400">
                    <div class="carousel-caption">
                        <h3>Architect</h3>
                        <p style="color: red"><b>Beautiful homes are designed by these men.</b></p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>-->
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>-->
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <form name="form" class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <h4><b style="border-bottom:1px black solid">Register</b></h4>
            <br />
            <div class="form-group">
                <label for="subject">Category:</label>
                <select class="form-control" id="category" ng-model="$parent.category" required
                        ng-options="c.description as c.description for c in categories| orderBy:'description'">
                    <option value="">-- please select a group you belong --</option>

                </select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="$parent.identity" required />
                <p ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="$parent.password" required />
                <p ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="passcode">Passcode</label>
                <input type="password" name="passcode" id="passcode" class="form-control" ng-model="password" required />
                <p ng-show="form.passcode.$dirty && form.passcode.$error.required" class="help-block">Passcode is required</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="email" required />
                <p ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</p>
            </div>
            <div class="form-actions">
                <a href="#login" class="btn btn-primary">Login</a>
                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a ng-show="!isschool" href="#/register" class="btn btn-link">Register</a>
                <label style="color:red">{{message}}</label>
            </div>
        </form>
    </div>

</div>