

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #0f006f;
    border-color: #030033;
    height: 50px;
}


.row.content {
    height: auto;
}



.container-fluid {
    width: initial;
}

.inner-fluid {
    margin: 80px 50px 160px 50px;
}


.home-container {
    margin: 0
}

    .home-container div {
        font-size: medium;
        height: auto;
    }

        .home-container div a {
        }

            .home-container div a :hover {
                text-decoration: none;
                background-color: #337ab7;
            }

.input[type=button]:hover {
    color: #000;
}

.headers {
    border-bottom: 1px black solid;
}
