
<div class="row content">

    <div class="col-sm-2 sidenav">

        <div class="list-group margin-b-3">
            <a href="#teacher" class="list-group-item">Results</a>
            <a href="#studentreportanalysis" class="list-group-item">Comparative Analysis</a>
            <a href="#studentweakareas" class="list-group-item">Weak Areas</a>
            <a href="#studentrecommendation" class="list-group-item active">Recommendations</a>
            <a href="#studentfeedback" class="list-group-item">Feedbacks</a>
        </div>
    </div>
    <div class="col-sm-10 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <h4><b style="border-bottom:1px black solid">Recommendations</b></h4>
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <label for="subject">Subject:</label>
                        <select class="form-control" id="subject">
                            <option>Please select..</option>

                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <label for="testformat">Teachers' Comments:</label>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <label for="testformat">Intelligence Recommendations:</label>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Previous</th>
                                        <th>Current</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-model="selectedLocation" ng-repeat="model in locations| orderBy: 'description' ">
                                        <td> <input type="date" /></td>
                                        <td> <input type="text" /></td>
                                        <td> <input type="text" /></td>
                                         
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <label for="testformat">Areas more concentration required:</label>
                        <a href="#">Practice Indices</a>
                        <a href="#">Geometry</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-offset-10">
                <br />
                <br />

                <a href="#/" class="btn btn-primary active">Back</a>
            </div>


        </form>
    </div>
</div>
