
<div class="row content">
    <div class="col-sm-2 sidenav">
        <div class="list-group margin-b-3">
            <div ng-repeat="model in studentmenus">
                <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <h4><b style="border-bottom:1px black solid">Track your progress</b></h4>
            <div class="form-group">
                <div class="col-md-3">
                    <label for="session">Session:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedsession" ng-change="processstudentsession()"
                            ng-options="item.description as item.description for item in sessions">
                        <option value="">-- Please select session --</option>
                    </select>
                </div>
            </div>
            <!--if pass session selected show past 5 sessions-->
            <div class="form-group">
                <div class="col-md-3">
                    <label for="selectsession">Select Session:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedstudentsession" ng-change="processelectedstudentsessions()"
                            ng-options="item.description as item.description for item in passschoolsessions">
                        <option value="">-- Please select session --</option>
                    </select>
                </div>

            </div>
            <!--show if selected subject student's registered subjects for the session-->
            <div class="form-group">
                <div class="col-md-3">
                    <label for="subject">Registered Subjects:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedstudentsubject" ng-change="processregisteredstudentsubjects()"
                            ng-options="item.description as item.description for item in studentregsubjects">
                        <option value="">-- Please select session --</option>
                    </select>
                </div>

            </div>
            <!--Validation require before these buttons are made active and on click before the belowe would shown-->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-4">
                        <input type="button" value="Track Progress" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <!--enabled if and only if there are selections or all is being selected from the drop down-->
            <!--validate query before attempting to generate reports-->
            <!--this must be generating dynamically based on the selected subject OR all-->
            <div class="form-group">
                <div class="col-sm-11">
                    <label class="control-label" for="report">Report</label>
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <!--date|topic|Grade|Status|Progress%|Global Progress%|Remark-->
                                <!--Status->very weak|weak|strong|very strong-->
                                <!--Remark->ready for exam|not ready for exam|could try|-->
                                <!--seperate button to display the summary graphical chat of a student position/stand
                                in readiness for main exam in bar chat OR histogram OR pie chat -->
                                <th ng-repeat="header in headers | filter:headerFilter | orderBy:headerOrder" width=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users" ng-class-odd="'trOdd'" ng-class-even="'trEven'" ng-dblclick="rowDoubleClicked(user)">
                                <td ng-repeat="(key,val) in user | orderBy:userOrder(key)"></td>
                            </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="col-sm-offset-10">
                <br />
                <br />

                <a href="#/" class="btn btn-primary active">Back</a>
            </div>


        </form>
    </div>
</div>
