<div class="row content">
    <div class="col-sm-2 sidenav">
        <div class="list-group margin-b-3">
            <div ng-repeat="model in studentmenus">
                <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <h4><b style="border-bottom:1px black solid">Results</b></h4>
            <div class="form-group">
                <div class="col-md-3">
                    <label for="session">Session:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedsession" ng-change="processstudentsession()"
                            ng-options="item.description as item.description for item in sessions">
                        <option value="">-- Please select session --</option>
                    </select>
                </div>

            </div>
            <!--if pass session selected show past 5 sessions-->
            <div class="form-group" ng-show="showselectedstudents">
                <div class="col-md-3">
                    <label for="selectsession">Select Session:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedstudentsession" ng-change="processelectedstudentsessions()"
                            ng-options="item.description as item.description for item in passschoolsessions">
                        <option value="">-- Please select session --</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label for="category">Category:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedstudentsubcat" ng-change="processselectedstudentsubcat()"
                            ng-options="item.description as item.description for item in reportcategories">
                        <option value="">-- Please select session --</option>
                    </select>
                </div>
            </div>
            <!--show if selected subject student's registered subjects for the session-->
            <div class="form-group" ng-show="showstudentregsubjects">
                <div class="col-md-3">
                    <label for="subject">Registered Subjects:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedstudentsubject" ng-change="processregisteredstudentsubjects()"
                            ng-options="item.description as item.description for item in studentregsubjects">
                        <option value="">-- Please select session --</option>
                    </select>
                </div>
            </div>
            <!--Display report-Card Report-based on selected subject OR all sujects on clicked Generate and download PDF format-->
            <div class="form-group">
                <div class="col-md-offset-4">
                    <input type="button" value="Download" class="btn btn-primary" />
                    <input type="button" value="Generate" class="btn btn-primary" />
                </div>
            </div>
            <!--enabled if and only if there are selections or all is being selected from the drop down-->
            <!--validate query before attempting to generate reports-->
            <!--this must be generating dynamically based on the selected subject OR all-->
            <div class="form-group">
                <div class="col-sm-11">
                    <label class="control-label" for="report">Report</label>

                    <div class="table-responsive">
                        <table class="table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in headers | filter:headerFilter | orderBy:headerOrder" width=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users" ng-class-odd="'trOdd'" ng-class-even="'trEven'" ng-dblclick="rowDoubleClicked(user)">
                                    <td ng-repeat="(key,val) in user | orderBy:userOrder(key)"></td>
                                </tr>
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
