<div class="row content">
    <div class="col-sm-12 text-left">
        <form name="form" class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <h4><b style="border-bottom: 1px black solid">Register New Student</b></h4>
            <br />
            <div class="form-group text-center">
                <div class="col-sm-12">
                    <a href="#schoolclientstudent" class="btn btn-primary active">Back</a>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label class="control-label" for="sel1">Suspended:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="checkbox" name="chksuspended" ng-model="suspended" ng-checked="suspended">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" ng-class="{'has-error': form.fullname.$dirty && form.fullname.$error.required }">
                    <div class="col-sm-3">
                        <label class="control-label" for="fullname">Full Name:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="fullname" ng-model="fullname" required>
                    </div>
                    <div class="col-sm-5">
                        <p ng-show="form.fullname.$dirty && form.fullname.$error.required" class="help-block">Fullname is required</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" ng-class="{'has-error': form.datepicker.$dirty && form.datepicker.$error.required }">
                    <div class="col-sm-3">
                        <label class="control-label" for="dob">DOB:</label>
                    </div>
                    <div class="col-sm-4">
                        <input name="datepicker" class="form-control" placeholder="dd/mm/yyyy" type="date" ng-model="dateofbirth" required />
                    </div>
                    <div class="col-sm-5">
                        <p ng-show="form.datepicker.$dirty && form.datepicker.$error.required" class="help-block">Dob is required</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" ng-class="{ 'has-error': form.selectedlevel.$dirty && form.selectedlevel.$error.required }">
                    <div class="col-sm-3">
                        <label for="level">Level:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="level" ng-model="selectedlevel" required
                                ng-options="c.description as c.description for c in levels">
                            <option value="">-- please student level --</option>

                        </select>
                    </div>
                    <div class="col-sm-5">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" ng-class="{ 'has-error': form.personalemail.$dirty && form.personalemail.$error.required }">
                    <div class="col-sm-3">
                        <label class="control-label" for="email">Personal Email:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" id="email" name="personalemail" ng-model="personalemail" required>
                    </div>
                    <div class="col-sm-5">
                        <p ng-show="form.personalemail.$dirty && form.personalemail.$error.required" class="help-block">student email is required</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" ng-class="{'has-error': form.parentemail.$dirty && form.parentemail.$error.required }">
                    <div class="col-sm-3">
                        <label class="control-label" for="parentemail">Parent Email:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" id="parentemail" name="parentemail" ng-model="parentemail" required>
                    </div>
                    <div class="col-sm-5">
                        <p ng-show="form.parentemail.$dirty && form.parentemail.$error.required" class="help-block">parent email is required</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" ng-class="{'has-error': form.parentemail.$dirty && form.parentemail.$error.required }">
                    <div class="col-sm-3">
                        <label class="control-label" for="parentnumber">Parent PhoneNo:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" placeholder="07960243222" class="form-control" id="parentnumber" name="parentnumber" ng-model="parentnumber" required>
                    </div>
                    <div class="col-sm-5">
                        <p ng-show="form.parentnumber.$dirty && form.parentnumber.$error.required" class="help-block">parent number is required</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" ng-class="{'has-error': form.parentemail.$dirty && form.parentemail.$error.required }">
                    <div class="col-sm-3">
                        <label class="control-label" for="subject">Subjects:</label>
                    </div>
                    <div class="col-sm-4">
                        <div role="form" ng-repeat="x in subjects">
                            <input type="checkbox" ng-click="checkFirst(x.description,x.ischecked)" ng-checked="x.ischecked" checklist-value="x.description"> {{x.description}}
                        </div>
                    </div>
                    <div class="col-sm-5">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label style="color:red">{{message}}</label>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-12">
                    <button type="submit" ng-disabled="form.$invalid" ng-click="addstudentschoolclient()" class="btn btn-primary">Save</button>
                    <a href="#schoolclientstudent" class="btn btn-primary active">Back</a>
                </div>

            </div>
        </form>

    </div>
</div>
