
<div class="row content">
    <div class="col-sm-2 sidenav">
        <div class="list-group margin-b-3">
            <div ng-repeat="model in adminmenus">
                <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <div class="form-group">
                <h4><b style="border-bottom:1px black solid">Students Registration</b></h4>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label for="level">Levels:</label>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="selectedlevel" ng-change="getallyearstudents()">
                            <option value="">-- Please select student level --</option>
                            <option value="Year 7">Year 7</option>
                            <option value="Year 8">Year 8</option>
                            <option value="Year 9">Year 9</option>
                            <option value="Year 10">Year 10</option>
                            <option value="Year 11">Year 11</option>
                            <option value="Year 12">Year 12</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="discription">Name:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="discription" ng-model="flastname">
                    </div>
                    <div class="col-sm-1">
                        <label class="control-label" for="discription">DOB:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="discription" ng-model="fdateofbirth">
                    </div>
                </div>

                <br />
                <label style="color:red">{{message}}</label>
                <br />
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Items</th>
                                <th>Name</th>
                                <th>Level/Year</th>
                                <th>DOB</th>
                                <th>Date Registered</th>
                                <th>Parent Contact No</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-model="selectedstudent" ng-repeat="model in (filteredItems = (thisschoolstudents | orderBy:'fullname' | filter:flastname |filter:flevel|filter:fdateofbirth))">
                                <td>{{$index + 1}}.</td>
                                <td>{{model.fullname}}</td>
                                <td>{{model.selectedlevel}}</td>
                                <td>{{model.dateofbirth}}</td>
                                <td>{{model.parentemail}}</td>
                                <td>{{model.parentnumber}}</td>
                                <td><a ng-click="resendschoolclientemail(model.id)">Email</a></td>
                                <td>
                                    <a href="#addschoolclientstudent/{{model.id}}">Edit</a>
                                </td>
                                <td>
                                    <a ng-click="deleteschoolstudents(model.id)">Delete</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group text-center">
                <a href="#addschoolclientstudent" class="btn btn-primary active">Add Student</a>
                <a href="#addschoolbatchclientstudent" class="btn btn-primary active">Batched Students</a>
            </div>

        </form>

    </div>
</div>

