 
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div class="list-group margin-b-3">
                <div ng-repeat="model in adminmenus">
                    <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9 text-left">
            <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
                <div class="form-group">
                    <h4><b class="headers">Teachers Registration</b></h4>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="control-label" for="discription">Last Name:</label>
                            <input type="text" class="form-control" id="discription" ng-model="teacherfullname">
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label" for="discription">Email:</label>
                            <input type="text" class="form-control" id="discription" ng-model="teacherlevel">
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label" for="discription">DOB:</label>
                            <input type="text" class="form-control" id="discription" ng-model="teacherdateofbirth">
                        </div>
                    </div>
                    <br />
                    <label style="color:red">{{message}}</label>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Items</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact No</th>
                                    <th>DOB</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-model="selectedteacher" ng-repeat="model in (filteredItems = (thisschoolteachers | orderBy:'fullname' | filter:teacherfullname |filter:teacherlevel|filter:teacherdateofbirth))"> 
                                    <td> {{$index + 1}}.</td>
                                    <td>{{model.fullname}}</td>
                                    <td>{{model.personalemail}}</td>
                                    <td>{{model.phonenumber}}</td>
                                    <td>{{model.dateofbirth}}</td>
                                    <td><a ng-click="resendschoolteacheremail(model.id)">Email</a></td>
                                    <td>
                                        <a href="#addschoolclientsteacher/{{model.id}}">Edit</a>
                                    </td>
                                    <td>
                                        <a ng-click="deleteschoolteachers(model.id)">Delete</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group text-center">
                    <a href="#addschoolclientsteacher" class="btn btn-primary active">Add Teacher</a>
                </div>


            </form>

        </div>
    </div>
 
