
<div class="row content">
    <div class="col-sm-2 sidenav">
        <div class="list-group margin-b-3">
            <div ng-repeat="model in adminmenus">
                <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-9">
                        <h4><b class="headers">Promote Students</b></h4>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="studentlevel">Current Level:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="studentlevel">
                            <option>Please select...</option>
                            <option>Year 7</option>
                            <option>Year 8</option>
                            <option>Year 9</option>
                            <option>Year 10</option>
                            <option>Year 11</option>
                            <option>Year 12</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="studentlevel">Promoted Level:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="studentlevel">
                            <option>Please select...</option>
                            <option>Year 7</option>
                            <option>Year 8</option>
                            <option>Year 9</option>
                            <option>Year 10</option>
                            <option>Year 11</option>
                            <option>Year 12</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="single">Single/Multiple:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="single" ng-model="promotedaction" ng-change="processpromoted()">
                            <option>Please select...</option>
                            <option>All</option>
                            <option>Selective</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--if selective student-->
            <div class="form-group" ng-show="promotedselectedstudents">
                <div class="row">
                    <div class="col-md-3">
                        <label for="selectstudent">Selected Student:</label>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">Bobola Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Boboye Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Bobare Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Bobayo Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Bodewa Borisade <span class="badge"><input type="checkbox" /></span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-7">
                        <!--enabled if and only if there are selections or all is being selected from the drop down-->
                        <input type="button" value="Synchronize" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

