<div class="row content">
    <div class="col-sm-2 sidenav">
        <div class="list-group margin-b-3">
            <div ng-repeat="model in adminmenus">
                <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-9">
                        <h4><b class="headers">School Reports</b></h4>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="category">Category:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" ng-model="selectedcategory" ng-change="processcategory()">
                            <option>Please select...</option>
                            <option>Teacher</option>
                            <option>Student</option>
                        </select>
                    </div>

                </div>
            </div>
            <!--show if either teacher or student selected-->
            <div class="form-group" ng-show="singlemultipleshow">
                <div class="row">
                    <div class="col-md-3">
                        <label for="single">Single/Multiple:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="single" ng-model="selectedselective" ng-change="processselective()">
                            <option>Please select...</option>
                            <option>All</option>
                            <option>Selective</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--show if all teachers selected-->
            <div class="form-group" ng-show="teacherreportshow">
                <div class="row">
                    <div class="col-md-3">
                        <label for="reports">Reports:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="reports">
                            <option>Please select...</option>
                            <option>Attendances</option>
                            <option>Performances based on students academics reports</option>
                            <option>Querries/disciplinary records</option>
                            <option>Awards</option>
                            <option>Comparative/globally with other schools analysis</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--show if all students OR single OR student selected-->
            <div class="form-group" ng-show="studentlevelshow">
                <div class="row">
                    <div class="col-md-3">
                        <label for="studentlevel">Level:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="studentlevel">
                            <option>Please select...</option>
                            <option>Year 7</option>
                            <option>Year 8</option>
                            <option>Year 9</option>
                            <option>Year 10</option>
                            <option>Year 11</option>
                            <option>Year 12</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--show if all students selected-->
            <div class="form-group" ng-show="studentreportshow">
                <div class="row">
                    <div class="col-md-3">
                        <label for="reports">Reports:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="reports">
                            <option>Please select...</option>
                            <option>Attendances</option>
                            <option>Performances based on subjects</option>
                            <option>Disciplinary records</option>
                            <option>Awards</option>
                            <option>Comparative/globally analysis(schools based on subjects)</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--if teacher show this drop and hide all that has t do with students-->
            <!--show if single teacher selected-->
            <!-- selective teacher selected-->
            <div class="form-group" ng-show="isselectedteacher">
                <div class="row">
                    <div class="col-md-3">
                        <label for="selectteacher">Selected Teacher:</label>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">Jide Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Grace Borisade <span class="badge"><input type="checkbox" /></span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <!--show if single teacher selected-->
            <div class="form-group" ng-show="singleselectedteacherreport">
                <div class="row">
                    <div class="col-md-3">
                        <label for="reports">Reports:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="reports">
                            <option>Please select...</option>
                            <option>Attendance</option>
                            <option>Performances based on selected teacher's subjects</option>
                            <option>Querries/disciplinary records</option>
                            <option>Awards</option>
                            <option>Comparative/globally with other schools analysis</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- selective student selected--show all assoicated with students and hide teacher-->
            <!--show if single student selected-->
            <!--if selective student-->
            <div class="form-group" ng-show="isselectedstudent">
                <div class="row">
                    <div class="col-md-3">
                        <label for="selectstudent">Selected Student:</label>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">Bobola Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Boboye Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Bobare Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Bobayo Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Bodewa Borisade <span class="badge"><input type="checkbox" /></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--show if single student selected-->
            <div class="form-group" ng-show="singleselectedstudentreport">
                <div class="row">
                    <div class="col-md-3">
                        <label for="reports">Reports:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="reports">
                            <option>Please select...</option>
                            <option>Attendance</option>
                            <option>Performances based on subjects</option>
                            <option>Disciplinary records</option>
                            <option>Awards</option>
                            <option>Comparative/globally analysis(schools based on subjects)</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--enabled if and only if there are selections or all is being selected from the drop down-->
            <!--validate query before attempting to generate reports-->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-7">
                        <input type="button" value="Generate Reports" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label>Report</label>
                        <table class="table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in headers | filter:headerFilter | orderBy:headerOrder" width="{{header.width}}">{{header.label}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users" ng-class-odd="'trOdd'" ng-class-even="'trEven'" ng-dblclick="rowDoubleClicked(user)">
                                    <td ng-repeat="(key,val) in user | orderBy:userOrder(key)">{{val}}</td>
                                </tr>
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

