<div class="row content">
    <div class="col-sm-2 sidenav">
        <div class="list-group margin-b-3">
            <div ng-repeat="model in adminmenus">
                <a href="{{model.id}}" class="{{model.style}}">{{model.description}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 text-left">
        <form class="frmReg form-horizontal" role="form" id="subscriptionForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-9">
                        <h4><b style="border-bottom:1px black solid">School Monitor</b></h4>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="category">Category:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" ng-model="monitoraction" ng-change="processmonitoring()">
                            <option>Please select...</option>
                            <option>Teacher</option>
                            <option>Student</option>
                        </select>
                    </div>

                </div>
            </div>     
            <div class="form-group" ng-show="monitoringlevel">
                <div class="row">
                    <div class="col-md-3">
                        <label for="studentlevel">Level:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control"  ng-model="monitoringselectlevel" ng-change="processmonitoringselectedlevel()">
                            <option>Please select...</option>
                            <option>Year 7</option>
                            <option>Year 8</option>
                            <option>Year 9</option>
                            <option>Year 10</option>
                            <option>Year 11</option>
                            <option>Year 12</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="monitorselectedstudent">
                <div class="row">
                    <div class="col-md-3">
                        <label for="selectstudent">Selected Student:</label>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">Bobola Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Boboye Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Bobare Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Bobayo Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Bodewa Borisade <span class="badge"><input type="checkbox" /></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="monitorselectedteacher">
                <div class="row">
                    <div class="col-md-3">
                        <label for="selectteacher">Selected Teacher:</label>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">Jide Borisade <span class="badge"><input type="checkbox" /></span></li>
                            <li class="list-group-item">Grace Borisade <span class="badge"><input type="checkbox" /></span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="reportedissues">Issues:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="issues">
                            <option>Please select...</option>
                            <option>Absent</option>
                            <option>Sick</option>
                            <option>Lateness</option>
                            <option>Accident</option>
                            <option>Holiday</option>
                            <option>Emergency</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="details">Description:</label>
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" rows="5" id="hints" ng-model="monitoringdescription" required></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-8">
                        <input type="button" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

